:root{
    --primary-color:#F29F05;
    --secondary-color:#F2B705;
    --text-color: #592B02;
    --border-color: #B9BF04;
    --accent-color: #F28705;
    --white-color: #f1f1f1;
}

@media (prefers-color-scheme: dark){
    :root{
        --primary-color:#D6D89E;
        --secondary-color:#D6D89E;
        --text-color: #0C0C12;
        --border-color: #B26A04;
        --acent-color: #D6D89E;
        --white-color: #f1f1f1;
    }
}

html, body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--border-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--text-color);
}